<section class="hero is-success is-medium is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          {{ partial "logo.html" . }}
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span>Home</span>
            <span>Examples</span>
            <span>Documentation</span>
          </span>
        </div>
        {{ partial "menu.html" . }}
      </div>
    </nav>
  </div>
  
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
          {{ $.Site.Title }}
      </h1>
      <h2 class="subtitle">
          {{ $.Site.Params.Subtitle }}
      </h2>
    </div>
  </div>
  
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Posts</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
