<div id="navbarMenuHeroA" class="navbar-menu">
    <div class="navbar-end">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <div class="navbar-item">
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <a class="navbar-item" aria-haspopup="true" aria-controls="dropdown-menu-{{ .Identifier }}">
                                <span>{{ .Name }} </span>
                                <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
                            </a>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu-{{ .Identifier }}" role="menu">
                            <div class="dropdown-content">
                                {{ range .Children }}
                                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ else }}
                <a class="navbar-item" href="{{ .URL }}">
                    {{ if .Pre }}
                        <i class="fas fa-{{ .Pre }}"></i>
                    {{ end }}
                    {{ .Name }}
                </a>
            {{ end }}
        {{ end }}
        <span class="navbar-item">
        <a class="button is-primary is-inverted">
            <span class="icon">
            <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
        </a>
        </span>
    </div>
    </div>