.container {
    max-width: 960px;
}

.logo {
    font-size: 1.5rem;
}

.posts .hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.post-meta, .post-summary {
    margin-bottom: .25rem;
}

.post-tags {
    margin-bottom: 1rem;
}

.post-cover {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post-content {
    font-size: 1.1rem;
}

.post-content .highlight {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a.is-success {
    background-color: #48c774;
    color: #fff;
}