{{ define "main" }}
<section class="section">
  <div class="post container">
    <h2 class="post-title title is-3">
      <a class="has-text-grey-dark" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h2>
    <div class="post-meta">
      <span class="post-date">
        <span class="icon has-text-danger">
          <i class="fas fa-calendar"></i>
        </span>
        <a class="has-text-grey">{{ .Date.Format "Mon, Jan 2, 2006" }}</a>
      </span>
      &nbsp;
      <span class="post-author">
        <span class="icon has-text-info">
          <i class="fas fa-user"></i>
        </span>
        <a class="has-text-grey">
          {{ if .Params.Author }}
            {{ .Params.Author }}
          {{ else }}
            Unknown
          {{ end }}
        </a>
      </span>
    </div>

    {{ if .Params.tags }}
    <div class="post-tags">
      <div class="field is-grouped is-grouped-multiline">
        {{ range .Params.tags }}
        <div class="control">
          <div class="tags has-addons">
              <span class="tag is-dark">#</span>
              <span class="tag is-success">
                <a class="is-success" href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">{{- . -}}</a>
              </span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}

    {{ with .Params.Cover }}
    <figure class="post-cover image is-fullwidth">
      <img src="{{ . | absURL }}" class="post-cover" />
    </figure>
    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div>

    <aside>{{ .TableOfContents }}</aside>

    {{ partial "comments.html" . }}
  </div>
</section>
{{ end }}